@import '@/statics/style/variables.scss';


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
* {
  padding: 0;
  margin: 0;
}

.forgetPasswordLink {
  cursor: pointer;
}



@media (min-width: 1281px) {

  .register-container {
    display: grid;
    direction: rtl;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.5fr;
    overflow-y: scroll;


    .login-form {
      grid-row-start: 2;
      grid-column-start: 2;
      grid-template-rows: 4fr 1fr;

      .cart {
        grid-row-start: 1;
        box-shadow: 1em;
        border-style: solid;
        border-radius: 0.25em;
        border-width: 1px;
        box-shadow: 0em 0em 1em $light_gray;
        border-color: $light_gray;

  
    
        .showpasswordicon {
          display: inline-block;
          width: 5%;
          height: 5%;
        }

        .title-containerr {
          .titler {
            font-size: 1em;
            text-align: center;
            font-weight: normal;
            transform: translateY(50%);
            color: $dark_gray;
          }

          .set-language {
            color: #fff;
            position: absolute;
            top: 5px;
            right: 0px;
          }
        }

      

        .el-form-item {
          width: 100%;
          height: 100%;
          direction: rtl;

          .el-form-item__label {
            float: right;
            font-size: 0.8em;
          }
        }

        .el-button--primary {
          background-color: #68BD0A !important;
          border-color: #68BD0A !important;
        }

        .login-btn {
          margin-top: 2em;
          font-size: 0.8em;
        }

        .el-input {
          font-size: 0.8em;
          direction: ltr;
          text-align: left;
        }

        .container {
          padding: 16px;
          margin-bottom: 1em;
          direction: rtl;

          span.psw {
            color: $lightBlue;
            float: right;
            font-size: 0.7em;
            cursor: pointer;
          }
        }
      }

    

    }
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
 
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
 
}